@using Microsoft.AspNetCore.Identity
@using TaskManagement.Core.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center me-2" style="width: 32px; height: 32px;">
                    <span class="text-white fw-bold small">
                        @{
                            var user = await UserManager.GetUserAsync(User);
                            if (user != null && !string.IsNullOrEmpty(user.FirstName))
                            {
                                @user.FirstName.Substring(0, 1).ToUpper()
                            }
                            else
                            {
                                @User.Identity!.Name!.Substring(0, 1).ToUpper()
                            }
                        }
                    </span>
                </div>
                <span class="d-none d-md-inline">
                    @if (user != null && !string.IsNullOrEmpty(user.FirstName))
                    {
                        @user.FullName
                    }
                    else
                    {
                        @User.Identity!.Name
                    }
                </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><h6 class="dropdown-header">Account</h6></li>
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                        <i class="bi bi-person-circle me-2"></i>Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/ChangePassword">
                        <i class="bi bi-key me-2"></i>Change Password
                    </a>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="dropdown-item">
                            <i class="bi bi-box-arrow-right me-2"></i>Logout
                        </button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link btn btn-outline-primary me-2" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-primary text-white" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>